version: "3.8"

services:
  postgres:
    image: postgres:14-alpine
    container_name: team4_chat_db
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: team4_chat
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
